# Gradle
.gradle/
build/

# IntelliJ / Android Studio
.idea/
*.iml
local.properties

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Offline Samples & Test files
samples/

# Firebase Credentials
google-services.json
